
        body{
            background-color: #F0EEED;
        }
        hr {
            width: 10%;
            border-style: dotted none none none;
    
            border-width: 8px;
            border-color: #332C39 ;
            
        }
        h1 {
            color: #609EA2 ;
        }

        h3 {
            color: #C92C6D;
        }

        h4 {
            color: #C92C6D;
        }